
@{
    ViewData["Title"] = "signup";
}

<div align="center"  style="background-color:#ECF3FF;">
    <form align="center">
    <fieldset style="background-color:white;
                    padding:0;
                    margin:0;
                    width:40vw;
                    height:40vw;
                    border:1px;
                    border-radius:5px;
                    box-shadow:2px 2px 2px 0px lightgrey,
                               1px 1px 2px 2px lightgrey;">
<h1>
    Sign Up
</h1><p>
<h5 style="color:black">It's quick and easy.</h5></p>
<hr style="color:grey">

    <input type="text" placeholder="First name" name="fname" style="width:17vw;height:35px; border-radius:5px;border:1px solid grey;" required>&nbsp; &nbsp; &nbsp;
    <input type="text" placeholder="Last name" name="lname" style="width:17vw;height:35px; border-radius:5px;border:1px solid grey;" required><br><br>
    <input type="text" placeholder="Email address " name="uname" style="width:36vw;height:35px; border-radius:5px;border:1px solid grey;" required><br><br>
    <input type="number" placeholder="phone number" name="uname" style="width:36vw;height:35px; border-radius:5px;border:1px solid grey;" required><br><br>
    <label for="dob " align="left">Date of birth</label><br>
    <input type="date"  name="date"  style="width:36vw;height:35px; border-radius:5px;border:1px solid grey;" required><br><br>
            <label for="dob " align="left">Gender</label><br>
            <input type="radio" name="gender" dir="ltr" style="width:5vw;height:10px; border-radius:5px;border:1px solid grey;" required>Male</input><br>
            <input type="radio" name="gender" dir="ltr" style="width:5vw;height:10px; border-radius:5px;border:1px solid grey;" required>Female</input><br>
            <input type="radio" name="gender" dir="ltr" style="width:5vw;height:10px; border-radius:5px;border:1px solid grey;" required>Others</input><br><br><br>

            <button type="submit" style="background-color:blue;
                                color:white;
                                width:36vw;
                                border-radius:5px;
                                height:35px;
                                border-color:blue;
                                border:1px solid blue ">
                <b>Sign Up</b>
            </button>

    </fieldset>
    </form>
</div>


